# Jupyter Notebooks
notebooks/exploratory_analysis.ipynb
notebooks/*.ipynb
.ipynb_checkpoints/

# Виртуальные окружения
.env
.venv/
.vscode
# Кэши Python
__pycache__
*.pyc
*.pyd
*.pyo
.Python
.venv
venv
env
*.egg-info/
.pytest_cache
.mypy_cache
.ipynb_checkpoints
.ruff_cache

# Файлы логов
*.log

# Временные файлы
.DS_Store
Thumbs.db

# Артефакты сборки
dist/
build/
*.egg-info/

# Локальные конфигурационные файлы
*.local.*
config/local_*